p {
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
}

.question{
    font-size: larger;
    font-family: 'Crimson Text', serif;
}

#title h1{
    font-family: 'Crimson Text', serif;
    height: 10%;
    margin-bottom: 5px;
    text-align: center;
}

#title{
    border-bottom: 1px solid #e8eceb;
    margin-bottom: 15px;
    background-color: whitesmoke;
}


.profil-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.profil, .svg{
    border: 1px solid #CACFD2;
    border-radius: 1rem;

}

svg{
    width: 100%;
    height: auto;
}

#myTabContent{
    text-align: center;
    margin-bottom: 30px;
}

.profil{
    text-align: left;
}

span{
    font-style: italic;
    color: darkgray;
}
.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
   background-color: #5c8a36;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #343a40;
    color: #ffffff;
    border: 3px solid #C3D90A;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
    font-style: Helvetica, sans-serif;
    
}
