/*pour les initiales en majuscule*/
.card-title:first-letter{
	text-transform: uppercase;
}

/*pour le donuts merci à https://bl.ocks.org/mbhall88/b2504f8f3e384de4ff2b9dfa60f325e2 */
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}		
/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}		
/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}
/*merci à https://www.codeply.com/go/rNFv5RJJqn/bootstrap-modal-full-screen */
.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}		
.tab-pane{
    height: 100%;
}
iframe{
    height: 100%;
    width:  100%;
}
<script src="js/facet.js"></script>
<script src="js/main.js"></script>

/*merci à http://jsfiddle.net/TheSleepingEight/mAGNM/1/ */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.scrollspy-example {
    height: 200px;
    overflow: auto;
    position: relative;
}
div.tooltip {
    position: absolute;
    width: 200px;
    padding: 6px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}