
#title h1{
    font-family: 'Crimson Text', serif;
    height: 10%;
    margin-bottom: 5px;
    text-align: center;
}

#title{
    border-bottom: 1px solid #e8eceb;
    margin-bottom: 15px;
    background-color: whitesmoke;
}


.profil-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.profil, .svg{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

svg{
    width: 100%;
    height: auto;
}

#myTabContent{
    text-align: center;
    margin-bottom: 30px;
}

.profil{
    text-align: left;
}

span{
    font-style: italic;
    color: darkgray;
}

.hide{
    display: none;
}





